<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Ashwin Mudaliar }}</title>
</head>

<link href='https://fonts.googleapis.com/css?family=B612 Mono' rel='stylesheet'>
<link rel="stylesheet" href="main.css" />

<body>
    
    <div id="tiles"></div>

    <div id="title" class="centered">
        <h1>print("Ashwin Mudaliar")</h1>
        <h2>senior in high school</h2>
        <h3>welcome to my personal website! explore my portoflio, development journey, and learn more about me!</h3>
        <h4>CLICK ANYWHERE TO SEE PORTFOLIO</h4>
    </div>



    <div id="portfolio" class="centered">
        <h2>My Projects</h2>
        <div class = "card" data-tilt>
            <img src="images/code.png" alt="image">
            <h2>Storm Robotics Website</h2>
            <p>This website uses node.js, php, sql, and advanced java to implement complex feautres such as a blog, an incoming e-commerce website, a portal, a redirect feature, and even interactive team cards. The website is also hosted using amazon web services (ec2) with some on bluehost as well! Visit my github for more information!</p>
        </div>
        <!-- <div class = "card" data-tilt>
            <img src="images/roboticon.png" alt="image">
            <h2>"Lightning I" Robot</h2>
            <p>As part of the 2022 FRC Rapid React Season, </p>
        </div> -->
    </div>

    <a id="source-link" class="meta-link" href="https://github.com/theflashwin" target="_blank">
        <i class="fa fa-github"></i>
        <span>GitHub</span>
      </a>

    <a id="yt-link" class="meta-link" href="mailto:ashwinamudaliar@gmail.com" target="_blank">
        <i class="fa-solid fa-link"></i>
        <span>Connect</span>
      </a>

<script src='https://kit.fontawesome.com/944eb371a4.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js'></script><script  src="./script.js"></script>
<script src='main.js'></script>
<script src='vanilla-tilt.js'></script>


</body>
</html>